__pycache__/

# Installer logs
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

__pypackages__/

# Environments
.venv
env/
venv/
ENV/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Cython debug symbols
cython_debug/

# Data folders
collected_data/
